<h4>The Frontside - Team Members</h4>
{{#frontside-container as |state|}}
  <div class="list-group">
    {{#each state.members as |member|}}
      <div class="list-group-item">
        {{member.name}}
      </div>
    {{/each}}
  </div>
{{/frontside-container}}
